<header class="header-login-signup">
    
    <div class="header-limiter">
        <h1>Best Mixture Factory</h1>
        <nav>

			<p class="header-links">
				<a href="#">Home</a>
				·
				<a href="#">Blog</a>
				·
				<a href="#">Pricing</a>
				·
				<a href="#">About</a>
				·
				<a routerLink="allproduct">Products</a>
				·
				<a outerLink="contactus">Contact</a>
			</p>


        </nav>
        <ul>
			<li><a routerLink="allproduct">Products</a></li>
            <li><a routerLink="login">Login</a> </li>
            <li><a routerLink="fetchCustDetails">Search Client</a></li>
            <li><a routerLink="registration">SignUp</a></li>
        </ul>
    </div>
</header>