<h1>
  All Product 
</h1>
  
<img  src="app/assets/img/MoongDal.jpg">

  <!--<div id="producList" *ngFor="let product of products; let idx = index" class="namkeenItem {{product.split(' ').join('')}}" (click)="showProduct(idx,product)">
    {{idx}}
    
      <div [ngStyle]="{'color': 'red', 'font-size': '20px', 'font-weight': 'bold'}"> {{product}}</div>

  </div>-->

<md-card class="example-card" id="producList" *ngFor="let product of products; let idx=index">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title></md-card-title>
    <!--<md-card-subtitle>Catagory</md-card-subtitle>-->
    <md-card-content>
    <p>
      Description of the product:  {{product}} 
    </p>
  </md-card-content>
  </md-card-header>
  <img md-card-image  src={{products_image[idx]}} (mouseover)="onMouseOver(idx)">
  <button md-button (click)=showProduct(product)> View Details</button>
  <a md-raised-button> Add to Cart</a>
  <md-card-content>    
  </md-card-content>
  
</md-card>
