 <div id="error">{{isloginSuccess}}</div>
<div id="login">
    <div id="company">
        <h1> Please Login</h1>
    </div>
    <form action="javascript:void(0);" method="get">
        <fieldset>
            <p>Username</p> <input type="text" required value="Username" name="name" required minlength="4" class="form-control"
            onBlur="if(this.value=='')this.value='Username'" 
            onFocus="if(this.value=='Username')this.value='' "
                [(ngModel)]="model.name" #name="ngModel"
				forbiddenName="bob">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required" id="error">
                    Name is required.
                </div>
                <div *ngIf="name.errors.minlength" id="error">
                    Name must be at least 4 characters long.
                </div>
                <div *ngIf="name.errors.forbiddenName" id="error">
                    Name cannot be Bob.
                </div>
            </div>
            Password
            <p>
                <input type="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' ">
            </p>

            <p><a href="#">Forgot Password?</a></p>
            <p><input type="submit" value="Login" onsubmit="loginUser()"></p>
        </fieldset>
    </form>
</div>
